h1,a,h2{
	color: red;font-size: 50px
}
body{color: blue;}
h4{
	color: green;
}
li strong{color: green;}

#pid a{
    color:#390e5d;
}


#divid{
    color:green;
}

.divclass {
    color: #8d8fa8;
}

.pclass {
    color: green ;
}

