/*.position1{
		width: 100px;
		height: 100px;
		background-color: cornflowerblue;
		position: absolute;
	}

h1,h2,h3,h4{
  color: cadetblue;
}
h4{
    color: darkslategray;

}

*/
/*.div{
	color: cadetblue;
}*/
/*h1.div{
	color: cadetblue;
}*/
/*
.p1{
	color: cadetblue;
}
.p2{
	font-size: 20px;
}
.p1.p2{
	font-style: italic;
}*/

/*div{
	color: cadetblue;
}*/