body{
    
/*
background-color: green;
*/
    background-image: url(python.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100px 100px;
    color: aqua;
    text-align:center
}
p {
    width: 150px;
    padding: 10px;
    background-color: #0014ff;
    
}


